@page
@model IndexModel
@{
    ViewData["Title"] = "Hjem";
}

<img src="./Images/SBO_Logo.png" />

<h1 class="text-center">Kontakt Information</h1>
<hr />
<p class="text-center"><b>Mail</b> - Support@Pcsyd.dk</p>
<p class="text-center"><b>Tlf</b> - 74 12 43 43</p>


<h1 class="text-center">Åbningstider</h1>
<hr />
<p class="text-center"><b>Mandag:</b> <span class="text-success">08:00 - 15:24</span></p>

<p class="text-center"><b>Tirsdag:</b> <span class="text-success">08:00 - 15:24</span></p>

<p class="text-center"><b>Onsdag:</b> <span class="text-success">08:00 - 15:24</span></p>

<p class="text-center"><b>Torsdag:</b> <span class="text-success">08:00 - 15:24</span></p>

<p class="text-center"><b>Fredag:</b> <span class="text-success">08:00 - 15:24</span></p>

<p class="text-center"><b>Lørdag:</b> <span class="text-danger">Lukket</span></p>

<p class="text-center"><b>Søndag:</b> <span class="text-danger">Lukket</span></p>
